@import '../variables.scss';

section {
    margin-top: 5vh;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
}
aside {
    display: flex;
    flex: 1.4;
}
.text-wrapper {
    width: 90%;
    margin-left: 18%;
    margin-top: 20%;
}
.text-wrapper__title {
    color: $body-color;
    font-family: $header-font;
    font-size: 2.6rem;
    font-weight: 900;
}
.text-wrapper__subtitle {
    color: $body-color;
    font-family: $body-font;
    font-size: 1.4rem;
    font-weight: 400;
    opacity: .9;
    margin-top: -5%;
}
.text-wrapper__button {
    width: 39%;
    height: 12%;
    outline: none;
    background-color: $brand-color;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    font-family: $body-font;
    font-size: 1.2rem;
    transition: .2s;
    box-shadow: 0px 2px 15px rgba(34, 34, 34,.3);
    &:hover {
        box-shadow: 0px 3px 15px rgba(34, 34, 34, .4);
        transition: .2s;
        cursor: pointer;
    }
}

.slider-container {
    display: flex;
    flex: 2;
    height: 100%;
    border-radius: 20px;
}
.slider-container__slider {
    width: 90%;
    height: 90%;
    margin-left: 3%;
    margin-top: 2.5%;
    box-shadow: 0px 6px 15px rgba(34, 34, 34,.3);
    border-radius: 20px;
}
.slides-container {
    width: 100%;
    height: 100%;
}
.slide {
    height: 100%!important;
    border-radius: 20px;
}
.prev {
    float: left;
}
.next {
    float: right
}
.slider-container__arrow  {
    cursor: pointer;
    position: relative;
    top: 10%;
    width: auto;
    padding: 16px;
    margin-top: -45vh;
    color: $brand-color;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: .1;
    transition: .3s;
    &:hover {
        opacity: 1;
        transition: .3s;
    }
  }  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .icons {
    margin-top: 20vh;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
  }
  .icons-wrapper {
      width: 90%;
      height: 100%;
      margin-left: 5%;
      display: flex;
      flex-direction: row;
  }
  .icon {
      display: flex;
      flex: 1;
      flex-direction: column;
  }
  .icon__photo {
      height: auto;
      margin-left: 35%;
      width: 30%;
      display: flex;
  }
  .icon__title {
    text-align: center;
    font-size: 1.9rem;
    font-family: $header-font;
    font-weight: 900;
    color: $body-color;
  }
  .icon__subtitle {
    text-align: center;
    font-size: 1.3rem;
    opacity: .8;
    font-family: $body-font;
    font-weight: 400;
    margin-top: -3%;
    color: $body-color;
}

  @media (max-width: $breakpoint-phone) {

    section {
        flex-direction: column;
        margin-top: 1vh;
    }
    .text-wrapper {
        width: 100%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .text-wrapper__title {
        color: $body-color;
        font-family: $header-font;
        font-size: 2.2rem;
        font-weight: 900;
    }
    .text-wrapper__subtitle {
        font-size: 1.3rem;
        margin-top: -5%;
    }
    .text-wrapper__button {
        width: 80%;
        height: 25%;
        font-size: 1.4rem;
    }
    .slider-container {
        margin-top: 5vh;
        width: 100%;
        margin-left: 0;
    }
    .slider-container__slider {
        width: 100%;
        // height: 100%;
        margin-left: 0%;
        margin-top: 2.5%;
        box-shadow: 0px 6px 15px rgba(34, 34, 34,.3);
        border-radius: 20px;
    }
    
    .slider-container__arrow  {
        cursor: pointer;
        position: relative;
        top: 10%;
        width: auto;
        padding: 16px;
        margin-top: -30vh;
        color: $brand-color;
        font-size: 50px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        opacity: .9;
        transition: .3s;
      } 
      .icons {
          margin-top: 10vh;
      }
      .icons-wrapper {
          flex-direction: column;
      }
      .icon {
          margin-top: 8vh;
      }
  }

  @media screen and (max-width: $breakpoint-small-desktop) and (min-width: $breakpoint-phone) {
    section {
        flex-direction: column;
        margin-top: 1vh;
    }
    .text-wrapper {
        width: 100%;
        margin-left: 5%;
        margin-top: 5%;
    }
    .text-wrapper__title {
        color: $body-color;
        font-family: $header-font;
        font-size: 3rem;
        font-weight: 900;
    }
    .text-wrapper__subtitle {
        font-size: 2rem;
        margin-top: -5%;
    }
    .text-wrapper__button {
        width: 60%;
        height: 35%;
        font-size: 1.8rem;
    }
    .slider-container {
        margin-top: 5vh;
        width: 100%;
        margin-left: 0;
    }
    .slider-container__slider {
        width: 80%;
        height: auto;
        margin-left: 5%;
        margin-top: 6vh;
        box-shadow: 0px 6px 15px rgba(34, 34, 34,.3);
        border-radius: 20px;
    }
    
    .slider-container__arrow  {
        cursor: pointer;
        position: relative;
        top: 10%;
        width: auto;
        padding: 16px;
        margin-top: -30vh;
        color: $brand-color;
        font-size: 80px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        opacity: .9;
        transition: .3s;
      } 

    .icons-wrapper {
        width: 100%;
        margin-left: 0;
    }
  }

  @media screen and (min-width: $breakpoint-large-desktop) {
    .text-wrapper {
        margin-left: 30%;
    }
    .text-wrapper__title {
        font-size: 2.8rem;
    }
    .text-wrapper__subtitle {
        font-size: 1.6rem;
        font-weight: 200;
        opacity: .8;
        margin-top: -7%;
    }
    .text-wrapper__button {
        width: 45%;
        height: 10%;
        font-size: 1.4rem;

    }
  }