@import '../variables.scss';

section {
    width: 100%;
    height: auto;
    margin-top: 3vh;
    display: flex;
    margin-bottom: 25vh;
    flex-direction: row;
}

.filters-container {
    display: flex;
    flex: .25;
    flex-direction: column;
}
.select {
    width: 80%;
    margin-left: 10%;
    height: 35px;
    padding: 50px;
    background-color: $brand-color;
    font-family: $header-font;
    color: white;
    outline: none;
    border: none;
    box-shadow: 0px 1px 10px rgba(34, 34, 34,.3);
    font-weight: 800;
    border-radius: 0px;
    font-size: .9rem;
    cursor: pointer;
}
.sort-by-price {
    margin-top: 10vh;
}
.filter-by-article {
    margin-top: 5vh;
}
.products-container {
    display: flex;
    flex: 1;
    height: min-content;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    margin: 15px;
    margin-top: 50px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.product__img {
    height: 80%;
    margin: 0;
    border-radius: 5px;
    padding:0;
    width: auto;
    transition: .5s;
    &:hover {
        transition: .5s;
        box-shadow: 0px 1px 10px rgba(34, 34, 34,.3);
        cursor: pointer;
    }
}

.product-information {
    display: flex;
    margin-top: 1vh;
    flex-direction: row;
}
.product-information__title {
    justify-content: flex-start;
    margin-left: 5%;
    font-size: 1.1rem;
    display: flex;
    font-weight: 500;
    flex: 3;
    color: $body-color;
    font-family: $body-font;
    transition: .5s;
    &:hover {
        transition: .3s;
        cursor: pointer;
        color: $brand-color;
    }
}
.product-information__price {
    justify-content: flex-end;
    margin-right: 5%;
    display: flex;
    font-size: 1.2em;
    flex: min-content;
    border-radius: 3px;
    text-align: center;
    font-family: $header-font;
    padding-right: 8px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    color: #fafafa;
    background-color: $brand-color;
    box-shadow: 0px 1px 10px rgba(34, 34, 34,.3);
    font-weight: 600;
}
.colors-container ul{
    display: flex;
    flex-direction: row;
}