section {
  width: 100%;
  height: auto;
  margin-top: 3vh;
  display: flex;
  margin-bottom: 25vh;
  flex-direction: row;
}

.filters-container {
  display: flex;
  flex: 0.25;
  flex-direction: column;
  height: 200px;
}

.select {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex: 1;
  background-color: #e53344;
  font-family: Lato, Sans-Serif;
  color: #fafafa;
  outline: none;
  border: none;
  box-shadow: 0px 1px 10px rgba(34, 34, 34, 0.3);
  font-weight: 800;
  border-radius: 0px;
  font-size: 0.9rem;
  cursor: pointer;
}

.sort-by-price {
  margin-top: 10vh;
}

.filter-by-article {
  margin-top: 5vh;
}

.products-container {
  display: flex;
  flex: 1;
  height: min-content;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 15px;
  margin-top: 50px;
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.product__img {
  height: 80%;
  margin: 0;
  border-radius: 5px;
  padding: 0;
  width: auto;
  transition: 0.5s;
}
.product__img:hover {
  transition: 0.5s;
  box-shadow: 0px 1px 10px rgba(34, 34, 34, 0.3);
  cursor: pointer;
}

.product-information {
  display: flex;
  margin-top: 1vh;
  flex-direction: row;
}

.product-information__title {
  justify-content: flex-start;
  margin-left: 5%;
  font-size: 1.1rem;
  display: flex;
  font-weight: 500;
  flex: 3;
  color: #333648;
  font-family: Avenir, Lato, Helvetica, Arial, Sans-Serif;
  transition: 0.5s;
}

.product-information__price {
  justify-content: flex-end;
  margin-right: 5%;
  display: flex;
  font-size: 1.2em;
  flex: min-content;
  border-radius: 3px;
  text-align: center;
  font-family: Lato, Sans-Serif;
  padding-right: 8px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 1px;
  color: #fafafa;
  background-color: #e53344;
  box-shadow: 0px 1px 10px rgba(34, 34, 34, 0.3);
  font-weight: 600;
}

.colors-container ul {
  display: flex;
  flex-direction: row;
}

@media (max-width: 420px) {
  section {
    flex-direction: column;
    margin-bottom: -45vh;
  }

  .filters-container {
    display: flex;
    flex: 1;
    margin-left: 0px;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .select {
    display: flex;
    flex: 0.5;
    width: 20%;
    color: white !important;
    padding: 15px;
  }

  .sort-by-price {
    margin-top: 5vh;
    margin-left: 0px;
  }

  .filter-by-article {
    margin-top: 5vh;
    margin-left: 0px;
  }

  .product {
    margin: 15px;
    margin-top: 120px;
    width: 100%;
    margin-left: 0px;
    height: 400px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (min-width: 420px) {
  section {
    flex-direction: column;
    margin-bottom: 25vh;
  }

  .filters-container {
    display: flex;
    flex: 1;
    margin-left: 0px;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  .select {
    display: flex;
    flex: 0.5;
    width: 20%;
    color: white !important;
    padding: 15px;
  }

  .sort-by-price {
    margin-top: 5vh;
    margin-left: 0px;
  }

  .filter-by-article {
    margin-top: 5vh;
    margin-left: 0px;
  }

  .product {
    margin: 15px;
    margin-top: 80px;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=products.css.map */
