@import '../variables.scss';

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    background-color: rgb(24,20,17, .8); /* Black w/ opacity */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 5px;
    width: 70%;
    height: 62vh;
    transition: .2s;
    display: flex;
    flex-direction: row;
  }
  .modal-img-container {
      display: flex;
      flex: 1.2;
  }
  .modal-img {
      width: 100%;
      height: 100%;
  }
  .modal-product-information {
      display: flex;
      flex: 1;
      flex-direction: column;
  }
  .modal-product-information__title {
    margin-left: 10%;
    margin-top: 1%;
    font-size: 2rem;
    color: $body-color;
    font-weight: 900;
    font-family: $header-font;
  }
  .modal-product-information__price {
    margin-left: 10%;
    margin-top: -3%;
    font-size: 1.3rem;
    color: $body-color;
    font-weight: 700;
    font-family: $body-font;
    color: #fafafa;
    background-color: $brand-color;
    width: min-content;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(34, 34, 34,.3);
  }
  .label {
    margin-left: 10%;
    margin-top: -1%;
    font-size: .8rem;
    color: $body-color;
    font-weight: 900;
    font-family: $body-font;
    color: $body-color;
  }
  .label-color {
      margin-top: 1%;
  }
  .label-size {
      margin-top: 4%;
  }
  .modal-product-colors-container {
      display: flex;
      flex-direction: row;
      width: 70%;
      margin-left: 10%;
      margin-top: -2%;
      height: 35px;
  }
  .color {
      display: flex;
      width: 35px;
      margin-right: 15px;
      border-radius: 360px;
      box-shadow: 0px 1px 10px rgba(34, 34, 34,.1);
      &:hover {
          opacity: .8;
          cursor: pointer;
      }
  }
  .modal-product-sizes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: -4%;
    height: 45px;
}
.size {
    display: flex;
    width: 50px;
    border: 1px solid rgba(34, 34, 34,.3);
    margin-right: 15px;
    margin-top: 15px;
    &:hover {
        opacity: .9;
        background-color: #f5f5f5;
        border: 1px solid black;
        cursor: pointer;
    }
}
.size p {
    font-size: .9rem;
    text-align: center;
    opacity: .8;
    margin: auto;
    padding: .8rem;
    color: $body-color;
    font-family: $body-font;
    font-weight: 900;
}
.modal-product-button {
    width: 45%;
    height: 11%;
    margin-left: 10%;
    outline: none;
    background-color: $brand-color;
    border-radius: 4px;
    font-weight: 900;
    margin-top: 23%;
    color: white;
    font-family: $header-font;
    font-size: 1.2rem;
    transition: .2s;
    box-shadow: 0px 2px 15px rgba(34, 34, 34,.3);
    &:hover {
        box-shadow: 0px 3px 15px rgba(34, 34, 34, .4);
        transition: .2s;
        cursor: pointer;
    }
}
  .close {
      margin-left: 90%;
      font-size: 50px;
      color: $brand-color;
      font-weight: 900;
      font-family: $header-font;
      cursor: pointer;
    }

    @media (max-width: $breakpoint-phone) { 
        .modal {
            display: none;
            position: fixed;
            z-index: 1; /* Sit on top */
            margin-top: -50px; /* Location of the box */
            left: 0;
            top: 0;
            background-color: rgb(24,20,17, .8); /* Black w/ opacity */
            width: 100%; /* Full width */
            height: 100%; /* Full height */
        }
        .modal-content {
            background-color: #fff;
            margin: auto;
            padding: 5px;
            width: 90%;
            height: 100vh;
            display: flex;
            flex-direction: column;
          }
        .modal-img-container {
            display: flex;
            flex: .5;
        }
        .modal-img {
            width: 100%;
            height: 75%;
        }
        .close {
            font-size: 60px;
        }
        .label {
            font-size: 1rem;
        }
        .modal-product-colors-container {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin-left: 10%;
            margin-top: -2%;
            height: 35px;
        }
        .color {
            display: flex;
            width: 40px;
            margin-right: 15px;
            border-radius: 360px;
            box-shadow: 0px 1px 10px rgba(34, 34, 34,.1);
            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }
        .modal-product-information {
            display: flex;
            flex: 3;
            flex-direction: column;
        }
        .modal-product-information__title {
            margin-left: 10%;
            margin-top: -40%;
            font-size: 1.5rem;
            color: $body-color;
            font-weight: 900;
            font-family: $header-font;
          }
          .modal-product-button {
              margin-top: 32%;
              height: 13%;
              width: 80%;
          }
    }
    @media screen and (max-width: $breakpoint-small-desktop) and (min-width: $breakpoint-phone) {
        .modal {
            display: none;
            position: fixed;
            z-index: 1; /* Sit on top */
            margin-top: -60px; /* Location of the box */
            left: 0;
            top: 0;
            background-color: rgb(24,20,17, .8); /* Black w/ opacity */
            width: 100%; /* Full width */
            height: 100%; /* Full height */
        }
        .modal-content {
            background-color: #fff;
            margin: auto;
            padding: 5px;
            width: 60%;
            height: 92vh;
            transition: .2s;
            display: flex;
            flex-direction: column;
          }
          .modal-img-container {
            display: flex;
            flex: .5;
        }
        .modal-img {
            width: 100%;
            height: auto;
        }
        .close {
            font-size: 60px;
        }
        .modal-product-information {
            display: flex;
            flex: 2;
            flex-direction: column;
        }
        .modal-product-information__title {
            margin-left: 10%;
            margin-top: -5%;
            font-size: 2rem;
            color: $body-color;
            font-weight: 900;
            font-family: $header-font;
          }
          .modal-product-button {
              margin-top: 20%;
              width: 80%;
          }
    }
