$background-color: #fafafa;
$brand-color: #e53344;
$body-color: #171A21;

$header-font: Lato, Sans-Serif;
$navigation-font: Avenir, Lato, Helvetica, Arial, Sans-Serif;

$breakpoint-large-desktop: 1366px;
$breakpoint-small-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 420px;
